<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-gl-2">
        <img src="../../../assets/FotoPerfil.jpg" class="img-fluid" id="FotoPerfil">       
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-gl-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-gl-8">
        <span>
            <h1>Acerca de mí</h1>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Suscipit deleniti hic eum molestiae minima, aperiam, 
                magnam nemo rerum id dolores earum alias sed reiciendis quibusdam 
                eligendi dolore ducimus ipsam quod?
        </span>
    </div>
</div>