<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/LogoAP.png" id="LogoAp">
        </div>
        <div class="redesSociales">
            <a href=""><img src="../../../assets/LogoGitHub.png" alt="GitHub" id="LogoGitHub"></a>
            <button type="button" (click)="login()" *ngIf="!isLogged" class="btn btn-outline-light">Iniciar Sesion</button>
            <button type="button" (click)="onLogOut()" *ngIf="isLogged" class="btn btn-outline-light">Cerrar Sesion</button>
        </div>
    </div>
</div>
