<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>Formacion 1</h1><h2>años</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Laboriosam in, molestias facere totam distinctio vero velit obcaecati quidem facilis
                amet eveniet dicta, iure, reiciendis eum recusandae laborum quia quod odio.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Formacion 2</h1><h2>años</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Laboriosam in, molestias facere totam distinctio vero velit obcaecati quidem facilis
                amet eveniet dicta, iure, reiciendis eum recusandae laborum quia quod odio.
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Formacion 3</h1><h2>años</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Laboriosam in, molestias facere totam distinctio vero velit obcaecati quidem facilis
                amet eveniet dicta, iure, reiciendis eum recusandae laborum quia quod odio.
                </p>
            </li>
        </ul>
    </div>
</div>
